.playfair-display sc-regular {
  font-family: "Playfair Display SC", serif;
  font-weight: 400;
  font-style: normal;
}

.playfair-display sc-bold {
  font-family: "Playfair Display SC", serif;
  font-weight: 700;
  font-style: normal;
}

.playfair-display sc-black {
  font-family: "Playfair Display SC", serif;
  font-weight: 900;
  font-style: normal;
}

.playfair-display sc-regular-italic {
  font-family: "Playfair Display SC", serif;
  font-weight: 400;
  font-style: italic;
}

.playfair-display sc-bold-italic {
  font-family: "Playfair Display SC", serif;
  font-weight: 700;
  font-style: italic;
}

.playfair-display sc-black-italic {
  font-family: "Playfair Display SC", serif;
  font-weight: 900;
  font-style: italic;
}
body {
  background: black;
  text-align: center;
}
.container {
  background: linear-gradient(to top, #09203f 0%, #537895 100%);
  max-width: 1200px;
  margin: 0 auto;
}
section {
  max-width: 100%;
  margin: 0 auto;
  padding: 70px;
}

.hero {
  text-align: center;
  max-width: 1000px;
  font-family: "Playfair Display SC", serif;
  font-weight: 400;
  font-style: normal;
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/122/698/original/IMG_3300.jpeg?1712776074);
  background-size: cover;
  background-position: center;
  margin: 5px auto;
  padding: 100px;
}
button {
  font-size: 16px;
  font-family: "Playfair Display SC", serif;
  font-weight: 400;
  font-style: italic;
  padding: 25px auto;
  margin: 35px 25px;
  border: 1px solid black;
  border-radius: 5px;
  background: linear-gradient(
    180.3deg,
    rgb(221, 221, 221) 5.5%,
    rgb(110, 136, 161) 90.2%
  );
}
a:link {
  text-decoration: none;
}
header a:visited {
  color: darkolivegreen;
}
header a:hover {
  color: greenyellow;
}
.grid-3-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.card-spot {
  background: #f7f7f7;
}
.heading {
  font-family: "Playfair Display SC", serif;
  font-weight: 900;
  font-style: normal;
  font-size: 100%;
  margin: 50px auto;
}
.card {
  font-size: 15px;
  background: linear-gradient(to top, #df89b5 0%, #bfd9fe 100%);
  font-family: "Playfair Display SC", serif;
  font-weight: 400;
  font-style: normal;
}
.card button {
  background: black;
}
.card a {
  color: aliceblue;
  text-decoration: none;
}
.card:hover a {
  color: lightskyblue;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.img-responsive {
  width: 100%;
  aspect-ratio: 1/1;
}

.dress button {
  margin-top: 80px;
}
.spider button {
  margin-top: 80px;
}
.grid {
  display: grid;
  grid-gap: 40px;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-2 {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
.pictures {
  max-width: 1200px;
}
.grid-2 img {
  width: 100%;
}

footer {
  text-align: center;
  padding: 40px 30px;
  font-family: "Playfair Display SC", serif;
  font-weight: 200;
  font-style: italic;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url("../images/footer.jpeg");
  color: aliceblue;
  font-size: 22px;
  background-size: cover;
  line-height: 20px;
}
footer a:visited {
  color: lightpink;
}
footer a:hover {
  color: lightskyblue;
}

@media (min-width: 500px) {
  .grid-2 {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .grid {
    display: grid;
    grid-gap: 35px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
  }
}
@media (min-width: 699px) {
  .grid {
    display: grid;
    grid-gap: 35px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .grid-2 {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 700px) {
  .grid {
    display: grid;
    grid-gap: 35px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
  }
  footer {
    font-size: 18px;
  }
  .grid-2 {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 499px) {
  .grid {
    display: grid;
    grid-gap: 35px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
  }
  .grid-2 {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
  }
}
