.playfair-display sc-regular {
  font-family: "Playfair Display SC", serif;
  font-weight: 400;
  font-style: normal;
}

.playfair-display sc-bold {
  font-family: "Playfair Display SC", serif;
  font-weight: 700;
  font-style: normal;
}

.playfair-display sc-black {
  font-family: "Playfair Display SC", serif;
  font-weight: 900;
  font-style: normal;
}

.playfair-display sc-regular-italic {
  font-family: "Playfair Display SC", serif;
  font-weight: 400;
  font-style: italic;
}

.playfair-display sc-bold-italic {
  font-family: "Playfair Display SC", serif;
  font-weight: 700;
  font-style: italic;
}

.playfair-display sc-black-italic {
  font-family: "Playfair Display SC", serif;
  font-weight: 900;
  font-style: italic;
}

.hero {
  text-align: center;
  font-family: "Playfair Display SC", serif;
  font-weight: 400;
  font-style: normal;
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/122/698/original/IMG_3300.jpeg?1712776074);
  background-size: cover;
  background-position: center;
  margin: 10px;
  padding: 80px;
}
